.projects {
  padding-top: 4rem;
}

.project-card {
  position: relative;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: -2rem;
  cursor: pointer;
}

@media all and (min-width: 992px) {
  .project-card:hover {
    word-wrap: break-word;
    background-color: rgb(0, 17, 23);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
  }
}

.project-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-card-duration {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 2px;
}

.project-card-title {
  font-weight: 500;
}

.project-card-github-icon {
  position: relative;
  z-index: 1;
  fill: var(--app-text-main-color);
}

.project-card-github-icon:hover {
  fill: skyblue;
}

.project-card-picture {
  position: relative;
  z-index: 1;
  width: 9rem;
  margin-top: 0.5rem;
  border: 3px solid transparent;
}

.project-card-picture:hover {
  word-wrap: break-word;
  background-clip: border-box;
  border: 3px solid rgb(106, 106, 168);
}

/* obszar całej karty dla linku głównego */
.project-card-pseudo-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
