.projects {
  padding-top: 4rem;
}

.project-card {
  position: relative;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: -2rem;
}

@media all and (min-width: 768px) {
  .project-card {
    cursor: pointer;
  }

  .project-card:hover {
    box-shadow: 0px 1px 11px 5px var(--app-background-card-color);
    background-color: var(--app-background-card-color);
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
  }
}

.project-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-card-duration {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 2px;
}

.project-card-title {
  font-weight: 500;
}

.project-card-github-icon {
  position: relative;
  z-index: 1;
  fill: var(--app-text-main-color);
}

.project-card-github-icon:hover {
  fill: var(--app-text-selection-color);
}

.project-card-picture {
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border: 3px solid rgba(211, 211, 211, 0.4);
  border-radius: 4px;
}

.project-card-picture:hover {
  word-wrap: break-word;
  background-clip: border-box;
  border: 3px solid var(--app-text-selection-color);
  border-radius: 4px;
}

/* obszar całej karty dla linku głównego */
.project-card-pseudo-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.project-card-link {
  position: relative;
  z-index: 1;
}
