.skills {
  padding-top: 4rem;
}

.skills-card {
  word-wrap: break-word;
  background-color: rgb(0, 17, 23);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
