.header {
  border: 2px dotted black;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media all and (min-width: 992px) {
  .header {
    height: 100vh;
  }
}

@media not all and (min-width: 992px) {
}

.hero {
  border: 1px dotted orange;
}
.navigation {
  border: 1px dotted orangered;
}
.socials {
  border: 1px dotted brown;
}
