:root {
  --app-background-color: rgb(0, 27, 33);
  --app-text-main-color: rgba(188, 197, 210, 0.8);
  --app-text-highlight-color: white;
  --app-text-selection-color: #f0db4f;
  --app-badge-background-color: #f0db4f49;
}
